.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.toast{
  border: solid black 1px;
  background-color: dimgray;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-name: invisible;
}

@keyframes invisible {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0;
    display: none;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


